body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:455px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:900px;
  height:455px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:316px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:342px;
  width:509px;
  height:315px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:423px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:518px;
  width:266px;
  height:422px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:175px;
  height:19px;
}
#u203p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:172px;
  height:6px;
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  transform:rotate(-360deg);
}
#u203p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:8px;
}
#u203p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  transform:rotate(-360deg);
}
#u203p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u203p002 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-330deg);
  -moz-transform:rotate(-330deg);
  -ms-transform:rotate(-330deg);
  transform:rotate(-330deg);
}
#u203p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:6px;
  height:6px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:336px;
  width:165px;
  height:1px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:97px;
  height:19px;
}
#u204p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:94px;
  height:6px;
}
#u204p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:8px;
}
#u204p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:22px;
  height:20px;
}
#u204p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u204p002 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:0px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
}
#u204p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:6px;
  height:6px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:508px;
  width:87px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:99px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:617px;
  width:205px;
  height:98px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:617px;
  width:100px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u206_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:647px;
  width:100px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u207_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:678px;
  width:100px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u208_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:118px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:18px;
  width:800px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:24px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:780px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:183px;
  height:105px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:613px;
  width:180px;
  height:102px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
