body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:553px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:553px;
}
#u2282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:331px;
  width:300px;
  height:84px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u2283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
