body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:555px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:41px;
  width:300px;
  height:555px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:130px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:84px;
  width:432px;
  height:119px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:24px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:412px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:51px;
  height:22px;
}
#u764p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:46px;
  height:4px;
}
#u764p000_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:8px;
}
#u764p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u764p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u764p002 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u764p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:28px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:117px;
  width:40px;
  height:2px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
