body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:350px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:350px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:201px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:409px;
  width:568px;
  height:190px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:24px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:548px;
  word-wrap:break-word;
}
