body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:227px;
  width:348px;
  height:56px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u2277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:411px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:400px;
  width:493px;
  height:411px;
}
#u2278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:185px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:16px;
  width:787px;
  height:185px;
}
#u2279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:505px;
  width:348px;
  height:84px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u2280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
