body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:462px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:982px;
  width:400px;
  height:462px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:440px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:440px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:347px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:207px;
  width:600px;
  height:347px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:84px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:611px;
  width:600px;
  height:84px;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:564px;
  width:85px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u281 {
  position:absolute;
  left:324px;
  top:566px;
}
#u281_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
  background-image:none;
}
#u281_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  font-family:'Heiti TC Regular', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:2px;
  width:18px;
  height:18px;
  font-family:'Heiti TC Regular', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
  visibility:hidden;
  background-image:none;
}
#u281_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  font-family:'Heiti TC Regular', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  height:18px;
  font-family:'Heiti TC Regular', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:514px;
  height:63px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:547px;
  width:511px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:225px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:732px;
  width:400px;
  height:224px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:372px;
  height:63px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1287px;
  width:369px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
