body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:359px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:722px;
  width:600px;
  height:359px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:555px;
  height:63px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1039px;
  width:552px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:473px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:473px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:183px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:504px;
  width:636px;
  height:172px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:24px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:616px;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:1057px;
  width:71px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:46px;
  height:22px;
}
#u701p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:40px;
  height:6px;
}
#u701p000_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:44px;
  height:10px;
}
#u701p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
}
#u701p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u701p002 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u701p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:26px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1068px;
  width:35px;
  height:2px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:1057px;
  width:71px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:1057px;
  width:29px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:325px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1198px;
  width:600px;
  height:325px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
