body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:601px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1100px;
  height:600px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:138px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:181px;
  height:137px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:33px;
  width:70px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:66px;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:113px;
  width:29px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:146px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:190px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:234px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:323px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:367px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:545px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:589px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:723px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:947px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:69px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1082px;
  width:181px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:278px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:412px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:456px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:500px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:634px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:678px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:768px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:812px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:857px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:902px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:992px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1037px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:46px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:146px;
  width:181px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:146px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:192px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:238px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:146px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:192px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:238px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:146px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:192px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:238px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:146px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:192px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:238px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:146px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:192px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:238px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:146px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:192px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:238px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:146px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:192px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:48px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:238px;
  width:93px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
