body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:736px;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-116px;
  width:424px;
  height:736px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:527px;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:495px;
  width:321px;
  height:527px;
}
#u1934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:584px;
  width:300px;
  height:252px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u1935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
