body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:651px;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:650px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:14px;
  width:60px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:29px;
  width:22px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1949_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:19px;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:22px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:8px;
  height:8px;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:27px;
  width:5px;
  height:5px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:27px;
  width:3px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:8px;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:26px;
  width:6px;
  height:7px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:27px;
  width:3px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:15px;
  width:43px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u1955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:15px;
  width:12px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u1956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u1957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:114px;
  width:52px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u1957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  word-wrap:break-word;
}
#u1958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:156px;
  width:43px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u1958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:105px;
  width:172px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u1959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u1960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:129px;
  width:129px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  line-height:24px;
}
#u1960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:610px;
  width:300px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u1961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:610px;
  width:89px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:621px;
  width:54px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1963_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1963_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:618px;
  width:80px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u1964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:114px;
  width:14px;
  height:15px;
}
#u1965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:176px;
  width:48px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u1966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u1967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:176px;
  width:48px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u1968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:176px;
  width:48px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u1968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u1969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:134px;
  width:18px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u1969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  word-wrap:break-word;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:54px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:239px;
  width:52px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u1970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  word-wrap:break-word;
}
#u1971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:281px;
  width:43px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u1971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:230px;
  width:172px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u1972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:254px;
  width:129px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  line-height:24px;
}
#u1973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:239px;
  width:14px;
  height:15px;
}
#u1974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:301px;
  width:48px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u1975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u1976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:301px;
  width:48px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u1977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:301px;
  width:48px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u1977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u1978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:259px;
  width:18px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u1978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  word-wrap:break-word;
}
#u1979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:62px;
  width:56px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u1979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:141px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:67px;
  width:500px;
  height:140px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u1980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
