body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:973px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:227px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:32px;
  width:950px;
  height:227px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:211px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:320px;
  width:604px;
  height:211px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:578px;
  width:300px;
  height:140px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
