body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1049px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:407px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:39px;
  width:1041px;
  height:407px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:479px;
  width:300px;
  height:123px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:28px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
