body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:480px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:480px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:42px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:82px;
  width:438px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:42px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:197px;
  width:438px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:117px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:271px;
  width:438px;
  height:117px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:480px;
  width:500px;
  height:420px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
