body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:661px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:349px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:22px;
  width:300px;
  height:349px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:356px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:593px;
  width:600px;
  height:356px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:776px;
  width:57px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:776px;
  width:29px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:413px;
  height:27px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:776px;
  width:410px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:325px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:995px;
  width:600px;
  height:325px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:167px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:410px;
  width:587px;
  height:156px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  line-height:24px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:567px;
  word-wrap:break-word;
}
