body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:26px;
  width:697px;
  height:54px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:18px;
  width:675px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:80px;
  width:697px;
  height:502px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:26px;
  width:58px;
  height:54px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:54px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:120px;
  width:200px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:183px;
  width:363px;
  height:252px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:466px;
  width:363px;
  height:116px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
