body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1090px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:71px;
  width:375px;
  height:1090px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u2269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:864px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:265px;
  width:345px;
  height:864px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u2270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(94, 151, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:375px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:14px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:16px;
  width:358px;
  height:14px;
}
#u2273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:38px;
  width:30px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u2275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:45px;
  width:25px;
  height:16px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:45px;
  width:25px;
  height:16px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:44px;
  width:71px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u2277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:71px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:110px;
  width:77px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u2278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:73px;
  word-wrap:break-word;
}
#u2279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:191px;
  width:113px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u2279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
